nav {
    margin: 0px;
    padding: auto 16px;
    div{
        text-align: center;
    }

    a {
        margin: 0px 15px;
    }
}

h2 {
    margin: 30px 40px;
}

#containetor {

    margin: 0px 25px;
    img {
        width: 360px;
        height: 240px;
    }
    div {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin: 0px 40px;
        label {
            margin: 0px 30px 30px;
            flex-direction: column;
        }
    }
}